@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Raleway', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #ffffff !important;
  padding: 0;
  line-height: 1.5;
  color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.ant-layout {
  background-color: white;
}

/*button custom style*/
.ant-btn-primary:hover {
  background-color: #000000;
}
.ant-btn-primary:active {
  background-color: #414447;
}
.ant-btn-lg {
  width: 100%;
}
.ant-btn-primary[disabled] {
  background-color: #9199a4;
  color: white;
}
.ant-btn-primary[disabled]:hover {
  background-color: #9199a4;
  color: white;
}

/* message custom style */
.ant-message-notice-content {
  padding: 0 !important;
}
.ant-message-success {
  display: flex;
  padding: 10px 16px;
  background-color: #ffffff;
  color: #000000;
  gap: 8px;
}
.ant-message-success .anticon {
  color: white;
}
.ant-message-error {
  display: flex;
  padding: 10px 16px;
  background-color: #ffffff;
  color: #000000;
  gap: 8px;
}
.ant-message-error .anticon {
  color: white;
}
.ant-message-warning {
  display: flex;
  padding: 10px 16px;
  background-color: #9199a4;
  color: white;
  gap: 8px;
}

.ant-message-warning .anticon {
  color: white;
}

.ant-message-notice {
  margin: 50px auto 0 auto;
}
.ant-message-custom-content {
  width: 100%;
  min-width: 230px;
  display: flex;
  align-items: center;
}

.ant-checkbox-inner {
  border-color: black !important;
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: black !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: black !important;
  border-color: black !important;
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: black;
  border-color: black;
}

/* Optional: Change the checkmark color to white for better visibility */
.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white;
}

.ant-checkbox-checked:hover .ant-checkbox-inner::after {
  border-color: white; /* Ensure checkmark color remains white on hover when checked */
}
